.testimonial {
    background-color: $verde;
    font-size: 2.4rem;
    padding: 2rem;
    color: $blanco;
    border-radius: 2rem;
    
    blockquote {
        padding-left: 5rem;
        position: relative;/*Genera un marco para el absolute, sin el relative toma todoooo el html como el relative*/

        &::before {
            /*Siempre que se defina un pseudo elemento se tiene que poner un content*/
            content: '';
            background-image: url(../img/comilla.svg);
            background-repeat: no-repeat;
            width: 6rem;
            height: 8rem;
            display: block;
            position: absolute;/*Se encima arriba del relative*/
            left: -2rem;
        }

    }

    p {
        text-align: right; 
        color: $blanco;
    }

}
